body {
    background-color: white;
}

.page-title {
    text-align: center;
    font-size: 30px;
}

.page-under-title {
    text-align: center;
    font-size: 17.5px;
}

.short-description {
    white-space: pre-line;
    text-align: center;
}

.text-center {
    text-align: center;
}

.get-started-btn {
    margin-top: 3em;
    background-color: #2326c6;    
    padding: 1px;
    color: white;
    width: 8.5vw;
    border: 10px solid transparent;
    height: 3vw;
    transition: 0.3s;
}

.get-started-btn:hover {
    background-color: #4b4ef6;
}

.button {
    border-radius: 5px;
}

red {
    color: red;
}